*.o 
*.mwx 
*.ll 
*.s 
*.sxp 
*.cdc 
*.vsf 
*.hdd 
*.tqd 

.deps
*.Po
*.o
a.out
aclocal.m4
autom4te.cache
config.*
configure
install-sh
missing
depcomp
*.in
depcomp
missing
aclocal.m4
configure
stamp-h1
gmon.out*
callgrind.out*
INSTALL
cusplibrary
*.bak
*.old
errors.txt
.idea/*
test/test_sequential_*
test/sequential/test_sequential_*
